- const animateScrollDown = "scroll-tip animate__animated animate__fadeInDown animate__infinite animate__slow";
- const pathScrollDown = "images/common/double-arrows-down.svg";

header.page-header
  h1.header__title Go Surf
  include ../components/header/header__map
  include ../components/header/header__aside
  include ../components/header/header__slider

  .header__arrows
    a(href="#")
      img(src=pathScrollDown alt="" class=animateScrollDown)
