-
  const surfBoxes = [
    {
      title: "Malibu Beach",
      location: "California <span>|</span> USA"
    },
    {
      title: "Airlie Beach",
      location: "Queensland <span>|</span> Australia"
    },
    {
      title: "Cloud Nine",
      location: "Siargao <span>|</span> Philippines"
    },
    {
      title: "Vieux Boucau",
      location: "Hossegor <span>|</span> France"
    },
    {
      title: "Malibu Beach",
      location: "California <span>|</span> USA"
    },
    {
      title: "Airlie Beach",
      location: "Queensland <span>|</span> Australia"
    },
    {
      title: "Cloud Nine",
      location: "Siargao <span>|</span> Philippines"
    },
    {
      title: "Vieux Boucau",
      location: "Hossegor <span>|</span> France"
    }
  ];
