*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: $color-white;
  background-color: $color-background;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-white;
}

.headline--left {
  @include headline;
  padding-left: 103px;

  &::before {
    @include headline-before;
    left: 0;
  }
}


.headline--right {
  @include headline;
  &::before {
    @include headline-before;
    left: 105%;
  }
}


.title {

  span {
    position: relative;

    display: inline-block;
    margin: 0;

    font-weight: 800;
    font-size: 200px;
    text-transform: uppercase;
    color: rgba($color-white, 0.05);

    transform: translateX(-50px);
  }

  h3 {
    position: absolute;
    top: 20px;
    right: 0px;

    margin: 0;
    color: $color-white;
    font-size: 80px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $color-green;
    }

  }
}

.container {
  min-width: 1920px;
  margin: 0 auto;
}

.subtitle {
  display: inline-block;
  text-align: right;
  text-transform: uppercase;

  &__head {
    font-weight: 800;
    font-size: 40px;
    padding-right: 5px;

    span {
      font-weight: 100;
    }
  }
}

.description {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  &__head {
    font-weight: 800;
    font-size: 40px;
    padding-right: 5px;
  }
}

.go-surf__button {
  border: none;
  background: none;
}

.final-button {
  margin-top: 264px;
  margin-bottom: 76px;
  display: flex;
  justify-content: center;
  .final-link {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 36px;

    span {
      position: relative;
      display: inline-block;
      padding: 16px 18px 14px 16px;
      background-color: $color-green;
      margin-left: 18px;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: $color-white;
        top: 50%;
        left: -10px;
      }
    }
    }
}
