.sleep {
  position: relative;
  padding: 130px 0 250px;

  background-image: url(../img/sleep-flower.png);
  background-position: bottom 200px right -160px;
  background-repeat: no-repeat;
  .slider-buttons__container {
    top: 400px;
  }
}

.sleep-slider {
  &__head {
    background-image: url(../img/sleep-background.png);
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &__description {
    margin-top: -120px;
    min-height: 320px;

    img {
      padding-left: 16px;
    }
  }
}

.description__head {
  display: flex;
  align-items: center;
}

.sleep__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -66px;
}

.sleep-slider {
  &__description,
  &__info {
    padding-left: 132px;
  }
}

.sleep-slider__info {
  display: flex;
  justify-content: space-around;

  &-subtitle {
    font-style: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.5;
    transform: rotate(-90deg);
    position: absolute;
    top: 97px;
    left: -97px;
    height: 0;
    width: 200px;
    text-align: right;
    white-space: nowrap;
  }
  &-title {
    position: relative;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 40px;
    .night-price__subtitle {
      position: absolute;
      bottom: -8px;
      right: 0;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 5.25px;
      opacity: 0.75;
      line-height: 0;
    }

  }
}

.sleep-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}

.sleep-slider__button {
  background: none;
  border: none;
  display: block;
  margin: 0 auto;
}


.night,
.guests {
  position: relative;

  .minus {
    // padding: 8px 10px 21px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .plus {
    padding: 10px;
    padding-right: 0;
    margin-bottom: 11px;
   }
}

.sleep-slider__night-control,
.sleep-slider__guests-control {
  position: absolute;
  bottom: -70px;
  right: 0;

  display: flex;
  align-items: center;
  gap: 4px;

  .minus,
  .plus {
    cursor: pointer;
  }
}

