.page-header {
  //wrapper
  height: 100vh;

  .header__title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 467px;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;

    color: $color-white;

    opacity: 0.07;
    }

}



.header__aside {
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 169px;
  height: 100%;
  border-right: 1px solid rgba($color-white, 0.25);

  .logo {
    margin-bottom: 32px;
  }

}

.menu  {

  &__list {
    width: 64px;
    margin: 0 auto;

    list-style: none;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 18px;
      cursor: pointer;

      img {
        margin-bottom: 4px;;
      }

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.header__slider {
   //container
   position: relative;
   overflow: hidden;

   &-item {
    position: relative;
    height: 100vh;

    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  text-transform: uppercase;

  color: $color-white;
}

.slider-item__info-title {
  margin-bottom: 48px;

  font-size: 80px;
  font-weight: 800;
  line-height: 86px;
}

.slider-item__info-suptitle {
  margin-bottom: 5px;
}

.slider-item__info-suptext {
  margin-bottom: 8px;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider__track {
  // track
  display: flex;

  transition: .2s;
}

.slider-buttons__container {
  position: absolute;
  top: 40px;
  right: 80px;

  display: flex;
  gap: 20px;

  text-align: center;
}

.button {

  &--next {
    background: none;
    border: none;

    cursor: pointer;

    &:disabled {
      opacity: .4;
    }
  }

  &--prev {
    background: none;
    border: none;

    cursor: pointer;

    &:disabled {
      opacity: .4;
    }
  }
}

.slider-dots__list {
  width: 920px;
  position: absolute;
  bottom: 30px;
  right: 80px;

  display: flex;
  gap: 40px;

  color: $color-white;

}

.slider-dots__item {
  position: relative;
  width: 200px;

  list-style-position: inside;

  &::marker {
    content: "0"counter(list-item);
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  &::after {
    content: '';

    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    border-top: 4px solid $color-white;
  }

  &--active::after{
      content: '';

      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      border-top: 4px solid $color-green;
  }
}

.slider-dots__name {
  position: absolute;
  left: 0;
  top: 11px;

  display: inline-block;
  width: 100%;

  font-weight: 300;
  line-height: 19px;
  text-align: right;
}


.header__search {
  margin-top: 36px;
  margin-bottom: 10px;

}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  text-transform: uppercase;

  .correct-time {
    margin-bottom: 16px;
    display: block;
    margin-top: 14px;

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.6px;
  }
}

.location {
  display: inline-block;
  width: 100px;
  position: absolute;


  left: 40px;

  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.05px;

  &::before {
    content: url(../img/map-marker.svg);
    position: absolute;
    top: 0;
    left: 0;
  }
}
