- const menuItems = ["Surf", "Travel", "Sleep", "Shop"];

mixin list(name, numberIcon)
  li.navigation__item
    img.navigation__icon(src=`images/common/nav-ico-${numberIcon}.svg` alt=`${name}-link`)
    span.navigation__item-name= name

aside.header-aside.header-aside__wrapper
  .logo
    a(href="#")
      img(src="images/content/logo.svg" alt="Logo Go-surf")

  nav.navigation
    ul.navigation__list
      each item, index in menuItems
        - const currentIcon = index + 1;
        +list(item, currentIcon)

  .header-aside__search
    img(src="images/common/search.svg" alt="Search icon")

  time.header-aside__date(datetime="2022-11-20") 20
    span.header-aside__correct-time.correct-time 11 | 2022
  p.header-aside__location.location California
